body {background-color: rgb(162, 229, 255);}
h1 {color: ghostwhite;}
body{color: ghostwhite;}
header{background-color: rgb(66, 132, 255);}

h1{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
body{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
nav a{font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(125, 19, 255);
}
nav a:hover {color: rgb(255, 79, 173);}

nav a{text-decoration: none;}

ul{
    display:flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-evenly;
}
